<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
	    <meta http-equiv="content-type" content="text/html; charset=utf-8">
	    <title>Küsi minult Linuxit!</title>
	    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" /> 
	    <link rel="stylesheet" href="/assets/css/style.css"/>

	    <script type="text/javascript">
	    <!--

	    if (document.images)
	    {
		    preload_image1 = new Image(); 
		    preload_image1.src="/assets/img/joonistus3.png";
		    preload_image2 = new Image(); 
		    preload_image2.src="/assets/img/sisukord-fookuses.png";
	    }




	    -->
	    </script>

    </head>
    <body lang="et" dir="LTR">
        <div id="konteiner">
	        <div class="sisukorra_mullid"></div>
	        <div id="sisukord">
	            <div id="menyy">
	                <a href="index.html">Sissejuhatus & ülevaade</a><br>
	                <a href="diagnoos.html">Lühike opsüsteemide diagnoos</a><br>
	                <a href="kysi-mult.html">Julgustus Linuxi proovimiseks</a><br>
	                <a href="juhised.html">Näputäis konkreetsemaid juhtnööre</a><br>
	                <a href="estobuntu.html">Alustuseks proovi Estobuntut!</a><br>
	                <a href="pingviin.html">Mis on Linux & üldse vaba tarkvara?</a><br>
	                <a href="lingid.html">Viited materjalidele eesti veebis</a><br><br>
	                <a href="kampaaniast.html">Kampaania & selles osalemine</a><br>
	            </div>

	        </div>
        	<div style="margin-left: 60pt; margin-top: 28pt; width: 710px; position: absolute; z-index: 1;">
                {{ content }}
            </div>
        </div>
    </body>
</html>



